#macro(head)
<head>
    <title>Laser Tag</title>
    <script src="resources/js/angular.js"></script>
    <script src="resources/js/main.js"></script>
    <script src="resources/js/jquery.js"></script>
</head>
#end
